@{
    ViewBag.Title = "À propos des panneaux solaire";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Lorsque je mentionne aux gens que ma maison est équipée de panneaux solaires,
    la première question que l’on s’empresse de me poser est “Mais est-ce que ça fonctionne l’hiver” ?
    Dans ce billet, je vais tenter de faire le point sur le sujet.
    </p>
<p>Premièrement, comme vous le savez certainement,
   il existe deux grandes catégories de panneaux solaires:
    les panneaux solaires thermiques ( chauffe-eau et chauffe-air ),
    qui captent les rayons infrarouges émis par le soleil et les convertissent
    en chaleur et les panneaux solaires photovoltaïques, qui génèrent de l’électricité.
    Tout comme leur principe de fonctionnement, qui est différent, leur comportement l’hiver, l’est également.
    </p>

<img src="~/Images/DSC01817.jpg" alt="Alternate Text" class="img-responsive"/>
