@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cegep de Granby<br />
    Granby<br />
    <abbr title="Téléphone">Tél.:</abbr>
    450.372.6614
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:5557241@cegepgranby.qc.ca">Patrick Bessette</a><br />
    <strong>Marketing:</strong> <a href="mailto:1696032@cegepgranby.qc.ca">Patrick Lavergne</a>
</address>