@{
    ViewBag.Title = "Home Page";
}


<body background="~/Images/maisonkit.jpg" >
   
  <!--css-->  
    <style>
        body {
            background-size: cover;
        }
    </style>
    <div class="jumbotron">
        <h1>SolarMag.com</h1>
        <p class="lead">SolarMag est un distributeur de matériel électrique, électronique et de panneau solaire</p>
        <p><a href="https://solarmag.com" class="btn btn-primary btn-lg">En apprendre plus &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Bienvenue chez nous</h2>
            <p>

            </p>

        </div>
        <div class="col-md-4">
            <h2></h2>
            <p></p>
            <p><a class="btn btn-default" href="https://solarmag.com">En apprendre plus &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2></h2>
            <p></p>

        </div>
    </div>
</body>

